.logo {
    background-image: url(../../images/logo.svg);
    width: 142px;
    min-height: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
@media screen and (max-width: 767px) {
  .logo {
    width: 103.74px;
    min-height: 24.4px;
  }
}
  