.form__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__input:focus {
  outline: 2px solid #42AAFF;
  outline-offset: 3px;
}

@media screen and (max-width: 767px) {
  .form__input {
    padding-bottom: 5px;
  }
}
