.element__delete {
  padding: 0;
  background: url(../../../images/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  max-width: 18px;
  width: 100%;
  min-height: 19px;
  border: none;
  cursor: pointer;
  transition: .3s ease;
  position: absolute;
  right: 20px;
  top: 20px;
}

.element__delete:hover {
  opacity: 0.6;
}
