.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: calc(100% - 2*200px);
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: calc(100% - 2*100px);
    }
}
  
@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(100% - 2*50px);
    }
}


@media screen and (max-width: 767px) {
    .footer {
        max-width: calc(100% - 2*19px);
        padding-top: 48px;
        padding-bottom: 36px;
    }
}